@model HR.OAuth2.Models.ResetPasswordViewModel

@section links
{
    <style>
        .passwordControl {
            width: 230px;
            height: 23px;
        }
    </style>
}

<div class="appr_bread">
    <em>修改密码</em>    
</div>
<div class="judge_content">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
                
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control passwordControl" })
            @Html.ValidationMessage("WrongPassword", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)            
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control passwordControl" })        
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control passwordControl" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })     
        </div>                
        
        <button type="submit" class="btn btn-primary">确认修改</button>
        
        if (ViewBag.IsSucceeded != null && ViewBag.IsSucceeded)
        {
            <img src="~/Content/images/sucess.png" height="45" />
        }
    }
</div>
<div class="judge_bottom">

</div>